.DS_Store
.vscode
.env
/_*
/assets
lib/*.node
node_modules
target
vendor/simplecss/Cargo.lock
tests/assets/fonts/oswald
tests/assets/fonts/raleway

/*.*
!/README.md
!/CHANGELOG.md
!/package*.json
!/Cargo.{toml,lock}
!/.gitignore
!/.github
